@model KofCWebSite.Core.Models.HomeViewModel
@using Microsoft.AspNetCore.Html;
@{
    ViewData["Title"] = "Home Page";
}

<section id="intro" style="margin-top:20px;height:auto;">
    <div id="intro-carousel" class="owl-carousel" style="height:auto;">
        <div class="item" style="height:auto;">
            <img src="~/images/owl-carousel-image1.jpg" />
        </div>
        <div class="item" style="height:auto;">
            <img src="~/images/owl-carousel-image2.jpg" />
        </div>
        <div class="item" style="height:auto;">
            <img src="~/images/owl-carousel-image3.jpg" />
        </div>
        <div class="item" style="height:auto;">
            <img src="~/images/owl-carousel-image4.jpg" />
        </div>
        <div class="item" style="height:auto;">
            <img src="~/images/owl-carousel-image5.jpg" />
        </div>
    </div>
</section>

<div class="section-header wow fadeInRight" style="visibility:hidden;">
    <h2 style="padding-top:20px;"><span class="fas fa-newspaper"></span> News</h2>
</div>
@foreach (var item in Model.VisiblePinnedNewsItems)
{
    string article = item.Article;
    if (article.Length > 128)
        article = article.Insert(129, "<span id=\"dots" + item.Id + "\">...</span><span class=\"more-text\" id=\"more" + item.Id + "\">") + "</span>";

    var articleHtml = new HtmlString(article);

<div class="alert alert-light shadow section-header wow fadeInLeft" style="visibility:hidden;">
    <div class="text-dark">
        <h3 style="font-weight:700;font-size:calc(12px + 0.9vw);">@item.Headline</h3>
        <h6 style="font-size:calc(12px + 0.3vw)">
            @{
                if (item.FormattedPublishStart != "")
                {
                    @item.FormattedPublishStart
                    <span>&nbsp;|&nbsp;</span>
                }
            }
            @item.AuthorFullName
        </h6>
        <div class="testimonial-item">
            <p style="overflow-wrap:break-word;font-style:italic;font-size:calc(12px + 0.3vw);">@articleHtml</p>
            <button class="btn btn-link kofc-login-link" onclick="showMoreShowLess(@item.Id)" id="showHideBtn@(item.Id)" style="text-decoration:none;">Read more</button>
        </div>
    </div>
</div>
}


<div class="section-header wow fadeInRight" style="visibility:hidden;">
    <h2 style="padding-top:0px;"><span class="fas fa-calendar-alt"></span> Upcoming Events</h2>
</div>
<section class="wow fadeInLeft" style="visibility:hidden;">
    <div class="card-box-kofc col-lg-12 card shadow" align="center">
        <div class="card-body" style="padding: 30px;">
            <div class="row">
                @foreach (var item in Model.UpcomingEvents)
                {
                    <div class="grid-container">
                        <div class="grid-header">
                            <span class="fa fa-calendar-week" style="color: rgb(80, 216, 175);"></span>
                            @item.Title
                        </div>
                        <div class="grid-subheader">@item.Location</div>
                        <div class="grid-date">@item.EventStart.ToString("MM-dd-yyyy")</div>
                        <div class="grid-body">@item.Description</div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>

<section class="wow fadeInRight" style="visibility:hidden;">
    <div class="alert alert-light shadow" style="margin-top:20px;">
        <input type="hidden" value="@Model.Newsletter.Id" name="Id" />
        <span class="far fa-file-pdf fa-2x text-danger" style="font-size:calc(20px + 0.6vw)"></span>&nbsp;
        <a target="_blank" style="        font-size: calc(12px + 0.3vw);
" asp-controller="Newsletters" asp-action="Download" asp-route-id="@Model.Newsletter.Id">@Model.Newsletter.Filename</a>
        <h3 style="float:right;font-weight:700;color:#444;font-size:calc(12px + 0.9vw)">Latest Newsletter</h3>
        <hr />
        <div style="width:100%;overflow-wrap:break-word;font-size:calc(12px + 0.3vw)">@Model.Newsletter.Description</div>
    </div>
</section>

<section id="about" class="wow fadeInUp" style="visibility: hidden; animation-name: fadeInUp; padding-top: 10px; margin-bottom:45px; margin-top:20px;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 content">
                <h3 style="font-size: calc(12px + .4vw); text-align: center;">
                    Serving St. Joseph Catholic Church and The Community of Martinsville and Henry County, VA
                </h3>
            </div>
        </div>
    </div>
</section>

@Html.PartialAsync("_Popup").GetAwaiter().GetResult()

@section Scripts {
    <script>
$(document).ready(function () {
    $("#intro-carousel").owlCarousel({
        autoPlay: 3000, //Set AutoPlay to 3 seconds
        items: 5
    });

    //$("#alertRow").fadeOut(5000);

    var alertPopup = @Html.Raw(Json.Serialize(Model.PopupAlert));

    console.log(alertPopup);

    if (alertPopup != null && alertPopup.title != null && alertPopup.body != null)
    {
        $("#popup-title").text(alertPopup.title);
        $("#popup-body").html(alertPopup.body);
        if (alertPopup.buttons != null) {
            if (alertPopup.buttons.length > 0) {
                for (var i = 0; i < alertPopup.buttons.length; i++) {
                    console.log(alertPopup.buttons[i].buttonHtml);
                    $(alertPopup.buttons[i].containerSelector).append(alertPopup.buttons[i].buttonHtml);
                }
            }
        }

        $("#popup").modal("show");
    }
});

        function showMoreShowLess(id) {
            var dots = document.getElementById("dots" + id);
            var moreText = document.getElementById("more" + id);
            var btnText = document.getElementById("showHideBtn" + id);

            if (dots.style.display === "none") {
                dots.style.display = "inline";
                btnText.innerHTML = "Show more";
                moreText.style.display = "none";
            } else {
                dots.style.display = "none";
                btnText.innerHTML = "Show less";
                moreText.style.display = "inline";
            }
        }
    </script>
}
